*/Cache/
.vs/
out/
*.ps3
*.vs3
*.user
*.log
Bin/*.d.ts
Bin/*.js
Bin/*.pak
Bin/NativePluginSDK/*
Source/Cross/Javascript/Modules/*
Data/CrossPlayer/Resources/CoreData/Shaders/HLSL/Cache
Data/Lib/*
Data/Include/*
Resources/CoreData/Shaders/HLSL/Cache
Artifacts/*
Docs/out/*
Docs/node_modules/*
Data/CrossEditor/Deployment/Web/CrossPlayer.js
Data/CrossEditor/Deployment/Web/CrossPlayer.html.mem
Data/CrossEditor/Deployment/IOS/CrossPlayer.app/CrossPlayer
node_modules/*
/.project
Script/TypeScript/**/*.d.ts
!Script/TypeScript/**/*Work.d.ts
Script/Haxe/*
**/.vscode
.idea
Cross.log
Data/CrossEditor/ProjectTemplates/Project3D/Cpp/CMakeLists.txt
